.section_product {
  .container {
    max-width: 1660px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .mb50 {
    height: 40px;
  }
  .product__container {
    margin-bottom: 50px;
    .product_heading {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 30px;
    }

    .product__categories {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: stretch;
      justify-content: center;
      .product__categories_item {
        display: block;
        margin: 0;
        padding: 15px 5px;
        border-radius: 25px;
        border: 2px solid #424245;
        width: 100%;
        max-width: 298px;
        transition: transform .3s ease-in-out;
        // &:hover {
        //   transform: scale(1.1);
        // }
        .product__categories_link {
          .product__categories_img {
            display: block;
            margin: 0 auto 20px;
            width: 285px;
            height: 210px;
          }
          .product__categories_description {
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// .section_product {
//   margin-top: 30px;
//   .container {
//     max-width: 1660px;
//     padding: 0 30px;
//     margin: 0 auto;
//   }
//   .product__container {
//     margin-bottom: 50px;
//     .product_heading {
//       text-align: center;
//       font-weight: 700;
//       font-size: 32px;
//       margin-top: -35px;
//       margin-bottom: 30px;
//     }
//     .product_heading {
//       font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial',
//         sans-serif;
//       font-size: 35px;
//       line-height: 1.1;
//       font-weight: 500;
//       color: #1d1d1f;
//     }
//     .product__categories {
//       display: flex;
//       flex-wrap: wrap;
//       // display: grid;
//       // grid-template-columns: repeat(4, 1fr);
//       gap: 20px;
//       align-items: stretch;
//       justify-content: center;
//       .product__categories_list {
//         display: flex;
//         width: 100%;
//         max-width: 298px;
//         height: 289px;
//         position: relative;
//         &:before {
//           content: '';
//           position: absolute;
//           left: 0;
//           top: 0;
//           width: 100%;
//           height: 100%;
//           background-color: rgba(0, 0, 0, 0.2);
//           transition: all 0.3s ease-in-out;
//           z-index: 1;
//           border-radius: 10px;
//         }
//         &:hover:before {
//           background-color: transparent;
//         }
//         .product__categories_item {
//           display: flex;
//           border: 1px solid #cecece;
//           width: 100%;
//           align-items: end;
//           border-radius: 10px;
//           // border-radius: 14px;
//           // height: 399px;
//           // max-width: 385px;
//           // padding: 15px 5px;
//           // border-radius: 25px;
//           // border: 2px solid #cecece;
//           .product__categories_link {
//             padding: 14px;
//             width: 100%;
//             background-color: rgba(0, 0, 0, 0.32);
//             border-radius: 0 0 7px 7px;
//             .product__categories_description {
//               margin-bottom: 0;
//               margin-top: 0;
//               text-align: center;
//               font-weight: 700;
//               font-size: 22px;
//               color: #fdfdfd;
//               // color: #1d1d1f;
//             }
//           }
//         }
//       }
//     }
//   }
// }
