.bronze:before {
  background: url('../../assets/img/imgColors/bronze.jpg') center no-repeat;
}

.white:before {
  background: url('../../assets/img/imgColors/white.png') center no-repeat;
}

.bej:before {
  background: url('../../assets/img/imgColors/bej.png') center no-repeat;
}

.biruz:before {
  background: url('../../assets/img/imgColors/biruzoviy.png') center no-repeat;
}

.golub:before {
  background: url('../../assets/img/imgColors/whiteblue.png') center no-repeat;
}

.yellow:before {
  background: url('../../assets/img/imgColors/yeloww.png') center no-repeat;
}

.green:before {
  background: url('../../assets/img/imgColors/green.png') center no-repeat;
}

.gold:before {
  background: url('../../assets/img/imgColors/gold.png') center no-repeat;
}

.izumrud:before {
  background: url('../../assets/img/imgColors/izumrud.png') center no-repeat;
}

.brown:before {
  background: url('../../assets/img/imgColors/brown.png') center no-repeat;
}

.red:before {
  background: url('../../assets/img/imgColors/red.png') center no-repeat;
}

.matsil:before {
  background: url('../../assets/img/imgColors/chrome.jpg') center no-repeat;
}

.medd:before {
  background: url('../../assets/img/imgColors/med.png') center no-repeat;
}

.multi:before {
  background: url('../../assets/img/imgColors/multi.png') center no-repeat;
}

.nick:before {
  background: url('../../assets/img/imgColors/nickel.jpg') center no-repeat;
}

.oring:before {
  background: url('../../assets/img/imgColors/oring.png') center no-repeat;
}

.clear:before {
  background: url('../../assets/img/imgColors/clear.png') center no-repeat;
}

.pink:before {
  background: url('../../assets/img/imgColors/punk.png') center no-repeat;
}

.silver:before {
  background: url('../../assets/img/imgColors/serebro.png') center no-repeat;
}

.gray:before {
  background: url('../../assets/img/imgColors/grey.png') center no-repeat;
}

.blue:before {
  background: url('../../assets/img/imgColors/blue.png') center no-repeat;
}

.purple:before {
  background: url('../../assets/img/imgColors/purple.png') center no-repeat;
}

.chrome:before {
  background: url('../../assets/img/imgColors/matsil.jpg') center no-repeat;
}

.black:before {
  background: url('../../assets/img/imgColors/black.png') center no-repeat;
}